__pycache__/
*.pyc
.pytest_cache/
.idea/
__MACOSX/

output/
test_output/
aspen_to_top/output/
examples/output/

*.hss
*.decrypted.json
*.extracted.json

aspen_result/**/*.apw
aspen_result/**/*.appdf
aspen_result/**/*.his
aspen_result/**/*.for
aspen_result/**/*.dmp
